body {
  padding: 20px;
}

#image-picker {
  visibility: hidden;
}

ul.thumbnails.image_picker_selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: initial;
}

ul.thumbnails.image_picker_selector li {
  float: none;
}

ul.thumbnails.image_picker_selector li .thumbnail img {
  width: 100%;
}

ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 0;
  border: 2px solid transparent;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
  border-color: #08c;
}